{%extends 'base.html'%}
{% load static %}

{%block title%}
Ajout utilisateur
{%endblock%}
{%block main%}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Ajouter un utilisateur</h5>

    <!-- Ajouter un utilisateur -->
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="username" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">Mot de passe</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" name="password" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="nom" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label" >Prénoms</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="prenom" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label" >Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" name="email" required>
        </div>
      </div>
      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Sexe</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sexe" id="gridRadios1" value="1" checked>
            <label class="form-check-label" for="gridRadios1">
              M
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sexe" id="gridRadios2" value="0">
            <label class="form-check-label" for="gridRadios2">
              F
            </label>
          </div>
        </div>
      </fieldset>
      <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label" >Adresse</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="adresse" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputNumber" class="col-sm-2 col-form-label">Contact</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="contact" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputFile" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
          <input class="form-control" type="file" id="formFile" name="image" >
        </div>
      </div>
      
      <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Profil</label>
        <div class="col-sm-10">
          <select class="form-select" aria-label="Default select example" name="profil" required>
            <option value="">Sélectionnez un profil</option>
            {%for profil in profils %}
            <option value="{{profil.id}}">{{profil.libelle}}</option>
            {%endfor%}
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Agence</label>
        <div class="col-sm-10">
          <select class="form-select" aria-label="Default select example" name="agence" >
            <option value="">Sélectionnez une agence</option>
            {%for agence in agences %}
            <option value="{{agence.id}}">{{agence.nom}}</option>
            {%endfor%}
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Section</label>
        <div class="col-sm-10">
          <select class="form-select" aria-label="Default select example" name="section">
            <option value="">Sélectionnez une section</option>
            {%for section in sections %}
            <option value="{{section.id}}">{{section.nom}}</option>
            {%endfor%}
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <!--<label class="col-sm-2 col-form-label">Submit Button</label>-->
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </div>       
    </form>
  </div>
</div>
{%endblock%}