{% extends 'base.html' %}
{% load static %}

{% block title %}
Affecter un agent
{% endblock %}
{% block main %}
<div class="card p-3">
    <div class="pagetitle">
        <h1>Affecter un agent</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Affecter</button>
            <a href="{% url 'liste_demandes_recues' %}" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}