{% extends 'base.html' %}
{% load static %}

{% block title %}
Envoyer Solution
{% endblock %}

{% block main %}
<div class="card p-3">
    <div class="pagetitle">
        <h1>Envoyer Solution</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="demande_id" value="{{ demande.id }}">
        <div class="mb-3">
            <label for="solution" class="form-label">Solution</label>
            <textarea readonly class="form-control" id="solution" name="solution" rows="3">{{ traitement.solution }}</textarea>
        </div>
        <div class="mb-3">
            <label for="chef_agent" class="form-label">Chef Agence</label>
            <input readonly type="text" class="form-control" id="chef_agent" name="chef_agent" value="{{ demande.demandeur }}">
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
{% endblock %}