{%extends 'base.html'%}
{% load static %}

{%block title%}
Tableau de bord
{%endblock%}
{%block main%}
<main >
        <section style="width: 1000px">
            <div class="row">
        <div class="col-xl-12">

                <div class="col-xl-10">
                    <div class="card">
                      <div class="card-body">
                        <div style="padding-top: 30px; display: flex; justify-content: space-between;">
                            <h4>Date: </h4>
                            <h4>{{d.date_formulation}}</h4>
                        </div>
                        <hr>
                        <div style="display: flex; justify-content: space-between;">
                            <h4>Service: </h4>
                            <h4>{{d.service.libelle}}</h4>
                        </div>
                        <hr>
                        <div style="display: flex; justify-content: space-between;">
                            <h4>Description: </h4>
                            <textarea readonly style="height: 100px; width: 350px; font-size: 20px">{{d.description}}</textarea>
                        </div>
                        <hr>
                        <div style="display: flex; justify-content: space-between;">
                            <h4>Etat: </h4>
                            <h4>{{d.etat.libelle}}</h4>
                        </div>
                        <hr>
                        {% if d.etat.libelle == "Envoyée" %}
                        <div style="display: flex; justify-content: space-between;">
                          <h4>Actions: </h4>
                          <h4>
                            <a href="{% url 'modifier_demande' d.id %}">
                              <button type="button" class="btn btn-light">
                                  <i class="bi bi-pencil"></i> Modifier
                              </button>
                            </a>
                          </h4>
                          <h4>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDemand{{d.id}}">
                              <i class="bi bi-trash">Supprimer</i>
                            </button>
                            <div class="modal fade" id="deleteDemand{{d.id}}" tabindex="-1">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Suppression de la demande</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Êtes-vous sûr ?
                                  </div>
                                  <div class="modal-footer">
                                      <a href="/chef_agence/{{d.id}}/supprimer_demande"><button type="button" class="btn btn-danger">Oui</button></a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </h4>
                          {% endif %}
                      </div>

                      </div>
                    </div>
              </div>
            </div>
          </div>
        </section>
        </div>
      </div>
  </main>
{%endblock%}