{%extends 'base.html'%}
{% load static %}

{%block title%}
Ajout agence
{%endblock%}
{%block main%}
<div class="card col-6 div-center">
    <h5 class="card-title">Ajouter une agence</h5>

    <!-- Ajouter une agence -->
    <form method="post">
      {% csrf_token %}
      <div class="row mb-3">
        <label for="inputText" class="col-3 col-form-label">Nom</label>
        <div class="col-9">
          <input type="text" class="form-control" name="nom" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 div-center">
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </div>     
    </form>
</div>
{%endblock%}